                    <div class="col-xs-12 add_user">
                        <h1>Add User</h1>
                        <div class="col-xs-12 inputs">
                            <div class="col-xs-5">
                                <label>User Name</label>
                            </div>

                            <div class="col-xs-6">
                                <input type="text" class="form-control">
                            </div>

                            <div class="col-xs-12 inputs_buttons">
                                <div class="col-xs-12">
                                    <button type="submit">ADD USER</button>
                                </div>
                            </div>
                           
                        </div>

                    </div>