                    <form class="col-xs-12 connect">
                        <h1>Connect SVN</h1>
                        <div class="col-xs-12 inputs">
                            <div class="col-xs-5">
                                <label>SVN Parent Path</label>
                            </div>

                            <div class="col-xs-6">
                                <input type="text" class="form-control" required>
                            </div>
                        </div>

                        <div class="col-xs-12 inputs">
                            <div class="col-xs-5">
                                <label>Authentication User File</label>
                            </div>

                            <div class="col-xs-6">
                                <input type="text" class="form-control" required>
                            </div>
                        </div>

                        <div class="col-xs-12 inputs_buttons">
                            <div class="col-xs-12" style="text-align:center;">
                                <button type="submit">Connect</button>
                            </div>
                        </div>
                    </form>