      <div ng-include="'partials/header.html'"></div>

                <form   ng-submit="newrespository()">
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12 add_repository">
                        <h1><img src="img/repository.png" style="width:20px;">Repository Details<a href="#" data-toggle="modal" data-target="#repository_popup"><button>Delete</button></a></h1>
                        
                        <table class="table">
                            <thead>
                              <tr>
                                <th>S.No</th>
                                <th>Date</th>
                                <th>Folder Name</th>                            
                              </tr>
                            </thead>
                            <tbody>
                              <tr  ng-repeat="(key,detailsrespositorydata) in detailsrespositorydata.message" ng-if="detailsrespositorydata[1]!= null ">
                                <td>{{key+1}}</td>
                                <td>{{detailsrespositorydata[0]}}</td>
                                <td>{{detailsrespositorydata[1]}}</td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                </form>


     


      
