      <div ng-include="'partials/header.html'"></div>

                <form   ng-submit="newrespository()">
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12 add_repository">
                        <h1><img src="img/repository.png" style="width:20px;">Repository Details</h1>
                        
                        <table class="table">
                            <thead>
                              <tr>
                                <th>S.No</th>
                                <th>Date</th>
                                <th>Folder Name</th>
                                <th>Created By</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>1</td>
                                <td>7/01/15</td>
                                <td>SVN</td>
                                <td>User Name1</td>
                              </tr>
                              <tr>
                                <td>2</td>
                                <td>8/01/15</td>
                                <td>SVN</td>
                                <td>User Name2</td>
                              </tr>
                              <tr>
                                <td>3</td>
                                <td>9/01/15</td>
                                <td>SVN</td>
                                <td>User Name3</td>
                              </tr>
                              <tr>
                                <td>4</td>
                                <td>10/01/15</td>
                                <td>SVN</td>
                                <td>User Name4</td>
                              </tr>
                              <tr>
                                <td>5</td>
                                <td>11/01/15</td>
                                <td>SVN</td>
                                <td>User Name5</td>
                              </tr>
                              <tr>
                                <td>6</td>
                                <td>12/01/15</td>
                                <td>SVN</td>
                                <td>User Name6</td>
                              </tr>
                              <tr>
                                <td>7</td>
                                <td>13/01/15</td>
                                <td>SVN</td>
                                <td>User Name7</td>
                              </tr>
                              <tr>
                                <td>8</td>
                                <td>14/01/15</td>
                                <td>SVN</td>
                                <td>User Name8</td>
                              </tr>
                              <tr>
                                <td>9</td>
                                <td>15/01/15</td>
                                <td>SVN</td>
                                <td>User Name3</td>
                              </tr>
                              <tr>
                                <td>10</td>
                                <td>10/01/15</td>
                                <td>SVN</td>
                                <td>User Name4</td>
                              </tr>
                              <tr>
                                <td>11</td>
                                <td>11/01/15</td>
                                <td>SVN</td>
                                <td>User Name5</td>
                              </tr>
                              <tr>
                                <td>12</td>
                                <td>12/01/15</td>
                                <td>SVN</td>
                                <td>User Name6</td>
                              </tr>
                            </tbody>
                          </table>

                    </div>
                </form>


     


      
